<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	 {% load staticfiles %}
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <title>SFCoffeeConnect</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>

        </head>
        <body>
                <div id="content">
					<img src='{% static "images/logo.png" %}' />
                        <div id="mainbody">
     						<h1 class='black'>Expand your network.</h1>
     						<h1 class='white'>Create opportunity.</h1>
							<h2>
								{{ member_count }} professionals<br/>
								{{ success_rate }} successful matchups
							</h2>
							<div id="joinbtn">
                                <a href={% url "socialauth_begin" "linkedin" %}><img src='{% static "images/linkedin-login.png"  %}' /></a>
							</div>
                			<div id="copymenu">Copyright 2013 SFCoffeeConnect.</div>
        				</div>
        		</div>
		</body>
</html>
